@import '../../../styles/variables.scss';

#section-career {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 0;

  .heading {
    color: #000;
  }

  .content {
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly;
    .card {
      text-align: center;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 275px;
      height: 375px;
      border-radius: 25px;
      background: linear-gradient(
        170deg,
        rgba(36, 140, 85, 1) 0%,
        rgba(20, 40, 48, 1) 100%
      );
      margin-bottom: 15px;
      span {
          text-align: center;
      }
    }
  }
}

@media (min-width: 1250px) {
  #section-career {
    .content {
      flex-direction: row;

      .card {
        margin-right: 20px;
      }
    }
  }
}
