@import '../../../styles/variables.scss';

#section-header {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 42px 20px;
  background: rgb(20, 30, 48);
  background: linear-gradient(
    0deg,
    rgba(20, 30, 48, 1) 0%,
    rgba(36, 119, 85, 1) 100%
  );

  .section-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      font-size: 12px;

      .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(
          180deg,
          rgba(20, 30, 48, 1) 0%,
          rgba(36, 119, 85, 1) 100%
        );
        border-radius: 50%;
        width: 40px;
        height: 30px;
        margin-right: 3px;
      }
    }

    .menu {
      width: 300px;
      .ant-menu {
        background: transparent;
        color: #fff;
        border-bottom: none;
        width: 100%;
        margin: 0;
        padding: 0;
  
        .ant-menu-item {
          font-size: 12px;
          line-height: 50px;
          &:after {
            border: none;
          }
        } 
      }
    }
  }
}

@media (min-width: 1250px) {
  #section-header {
    .section-header-content {
      .logo {
        font-size: 16px;
        .circle {
          width: 40px;
          height: 40px;
          margin-right: 13px;
        }
      }

      .menu {
        width: 300px;
        .ant-menu {
          .ant-menu-item {
            font-size: 16px;
          } 
        }
      }
    }
  }
}
