@import '../../../styles/variables.scss';

#section-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 42px;

  .heading {
    text-align: center;
    color: #000;
    span {
      color: rgba(31, 159, 85, 1);
    }
  }

  .banner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .image-wrapper {
      width: 203px;
      height: 300px;
      border-radius: 200px;
      margin-bottom: 20px;
      background: linear-gradient(
        20deg,
        rgba(36, 140, 85, 1) 0%,
        rgba(20, 40, 48, 1) 100%
      );
    }

    .card-wrapper {
      display: flex;
      .left {
        margin-right: 10px;
      }
      .card {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 150px;
        background: linear-gradient(
          20deg,
          rgba(20, 60, 48, 1) 0%,
          rgba(36, 140, 85, 1) 100%
        );
        border-radius: 200px;
        margin-bottom: 10px;
        font-size: 12px;
        padding: 5px 0;

        b {
          font-size: 14px;
        }
      }
    }
  }

  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(20, 40, 48, 1);
    margin-top: 42px;
    width: 100%;

    img {
        width: 100px;
    }
  }
}

@media (min-width: 1250px) {
  #section-about {

    .about-me {
      .desc {
        padding: 0 100px 100px 100px !important;
      }
    }
  }
}
